* {
    margin: 0;
    
}
body {
    background-color: rgb(17, 17, 17);
    color: white;
}
nav {
    background-color: rgb(39, 39, 39);
    height: 30px;
    text-align: center;
    padding: 10px;
    display: flex; 
    align-items: center;   
    
} 
img#logo {
    width: 40px;
    height: 40px;
}
a {
    color: white;
    text-decoration: none;
    margin: 10px;
    text-align: center;
}
a:hover {
    color: rgb(167, 167, 167);
}

section {
    width: 290px;
    height: 100%;
    padding-left: 30px;
    
    
    
    
}

li#nome {
    margin-bottom: 30px;
}
li.local{
    list-style: url(imagens/local.png);

    margin-top: 15px;
    margin-bottom: 15px;
    
} 


button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    background-color: rgb(83, 83, 83);
    color: white;
    border: none;
    border-radius: 5px;
}
h2 {
    color: #959090;
    font-size: 15pt;
    margin-bottom: 20px;
}
p {
    font-size: 13pt;
}
.pesquisa {
    background-color: rgb(17, 17, 17);
    width: 230px;
    height: 25px;
    margin: 10px;
    border-radius: 3px;
    color: rgb(103, 102, 102);
    padding-left: 10px;
    text-align: left;
}
div#organization {
    border-top: 1px solid rgb(74, 73, 73);
    padding-top: 10px;
}
main {
    left: 50%;
    position: absolute;
    background-color: rgb(123, 121, 121);
}
.bloco {
    display: inline-block;
    width: 350px;
    height: 150px;
    border: 1px solid white;
    border-radius: 5px;
    
}

